* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS';
}

.currency-card {
    width: 40%;
    padding: 1em;
    background-color: navy;
    display: flex;
    flex-direction: column;
}

.currency-card h1 {
    text-align: center;
    color: white;
    margin-bottom: .7em;
}

.currency-card select {
    width: 100%;
    padding: 8px;
    margin: 13px 0;
    outline: none;
}

.currency-card input {
    width: 100%;
    padding: 12px;
    outline: none;
}

.btn {
    background-image: linear-gradient(orange, orangered);
    padding: 8px 20px;
    color: white;
    border: none;
    align-self: center;
    margin-top: 6px;
    cursor: pointer;
    transition: .6s ease-out;
}

.btn:hover {
    background-image: linear-gradient(rgb(193, 126, 2), rgb(199, 55, 2));
}

label {
    color: white;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

@media screen and (max-width:900px) {
    .currency-card {
        width: 70%;

    }
}

@media screen and (max-width:700px) {
    .currency-card {
        width: 70%;

    }
}